---
layout: default
---
<body class="colorful">
  {% include header.html %}
  <div class="content">
    <h3 class="text-light"><em>Coming soon the community of digital makers in classical music</em></h3>
    <!-- <div id="countdown" data-time="2019/04/1 07:03:27"></div> -->
		<div class="row">
			<div class="col-lg-7 col-12 col-md-6 mx-auto pl-4 mb-lg-4 mb-md-2">
				<h3 class="text-white lead pt-lg-2 pt-md-2 text-left pl-5"><b>The first directory of all the current digital products in classical music and opera.</b></br>
      </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-12 col-md-4 mb-lg-5 pl-4 mb-md-3 mx-auto">
        <h3 class="mt-2 text-white pt-lg-5 pt-md-2 text-left lead pl-5"><b>
				This is a project by the web agency <a class="a-reset" href="about">Heyclassic</a>.<br><br>
			</div>
		</div>
    <div class="row">
      {% include mailchimp_form.html %}

      </div>
  	</div>
	</div>
</div>
