<div class="col-lg-6 col-12 col-md-6" id="mc_embed_signup">
  <h2>Or get notified once we're live*<br></h2>
  <div class="col-lg-6 col-12 pl-lg-0 mx-auto">
    <form action="https://wordpress.us8.list-manage.com/subscribe/post?u=87d03c0f58e8750e602919546&amp;id=b1493fdbcf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="pt-lg-4">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-success">
              <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL">
            </div>
            <fieldset name="interestgroup_field" class="text-light mt-0 pb-lg-5 form-check text-left">
                <small class="d-inline"><u class="pr-lg-2">Required! if you are in Europe: </u><br>Please select all the ways you would like to hear from us:  </small>
                <div class="form-check-inline ml-lg-3">
                  <input class="form-check-input" type="checkbox" id="gdpr_1093" name="gdpr[1093]" value="Y">
                  <label class="form-check-label " for="gdpr_1093"><small>Email</small></label>
                </div>
                <div class="form-check-inline">
                  <input class="form-check-input" type="checkbox" id="gdpr_1097" name="gdpr[1097]" value="Y" >
                  <label class="form-check-label" for="gdpr_1097"><small>Direct Mail</small></label>
                </div>
            </fieldset>
          </div>
        </div>
    </form>
  </div>
</div>
</div>

<div id="mergeRow-gdpr" class="row">
<div class="col-lg-12 mx-auto px-auto">
  <div class="container  bg-gray border border-info bg-light sticky bottom rounded mb-lg-0 mt-lg-5 pt-lg-2 pb-lg-0"><p><small class="text-left mt-lg-3 text-gray">*We will send you relevant news from time to time, but we will never spam you. You can unsubscribe at any time by clicking the link in the footer of our emails.<br>
      For information about our privacy practices, please visit our website.
      We use MailChimp as our marketing platform.<br>
      By clicking below to subscribe, you acknowledge that your information will be transferred to MailChimp for processing.
      Learn more about MailChimp's privacy practices <a class="a-reset" href="https://mailchimp.com/legal/" target="_blank">here</a>
    </small></p>
  </div>
</div>
</div>

        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_87d03c0f58e8750e602919546_b1493fdbcf" tabindex="-1" value=""></div>
        <div class="clear">

    </form>
  </div>
  <!--End mc_embed_signup-->
